<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.24009.12000" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="117.0.5938.9200" targetFramework="net472" />
  <package id="Selenium.WebDriver.StrongNamed" version="3.141.0" targetFramework="net461" />
</packages>